flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6
ollama==0.1.9 # Assuming this is the latest version as of May 2024
chromadb==0.5.0
python-dotenv==1.0.1
pytesseract==0.3.10  # Assuming this is the latest version as of May 2024
eventlet==0.36.1
gevent==24.2.1
pandas==1.5.3
pandasai==2.0.37
pandas_access==0.0.1
pymongo==4.7.2
pydantic==1.10.5
llama-index==0.10.37
llama-index-readers-web==0.1.14
gunicorn==22.0.0
markupsafe==2.1.5
werkzeug==3.0.3
translators==5.9.2