@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;
  --bg-background: rgb(255, 255, 255);
  --bg-dark-background: rgb(33, 33, 33);
  --bg-side-background: #e8e8e8;
  --bg-side-dark-background: #151515f1;
  --bg-box: #f4f4f4;
  --bg-dark-box: #2f2f2f;
  --text-box: rgb(33, 33, 33);
  --text-dark-box: rgb(255, 255, 255);
}

html {
  --text-primary: var(--gray-950);
  --text-secondary: var(--gray-500);
  --text-tertiary: var(--gray-400);
  --text-quaternary: var(--gray-300);
  --text-error: var(--red-700);
  --surface-error: var(--red-700);
  --border-light: rgba(0,0,0,.1);
  --border-medium: rgba(0,0,0,.15);
  --border-heavy: rgba(0,0,0,.2);
  --border-xheavy: rgba(0,0,0,.25);
  --main-surface-primary: var(--white);
  --main-surface-secondary: var(--gray-50);
  --main-surface-tertiary: var(--gray-100);
  --sidebar-surface-primary: var(--gray-50);
  --sidebar-surface-secondary: var(--gray-100);
  --sidebar-surface-tertiary: var(--gray-200);
  --link: #2964aa;
  --link-hover: #749ac8;
  --selection: #007aff;
}

body, html {
  background-color: var(--main-surface-primary);
}

.dark {
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-400);
  --text-quaternary: var(--gray-500);
  --text-error: var(--red-500);
  --border-light: hsla(0,0%,100%,.1);
  --border-medium: hsla(0,0%,100%,.15);
  --border-heavy: hsla(0,0%,100%,.2);
  --border-xheavy: hsla(0,0%,100%,.25);
  --main-surface-primary: var(--gray-800);
  --main-surface-secondary: var(--gray-750);
  --main-surface-tertiary: var(--gray-700);
  --sidebar-surface-primary: var(--gray-900);
  --sidebar-surface-secondary: var(--gray-800);
  --sidebar-surface-tertiary: var(--gray-750);
  --link: #7ab7ff;
  --link-hover: #5e83b3;
}

@layer base {
  .overflow-hidden-scrollable {
    -ms-overflow-style: none;
  }

  .overflow-hidden-scrollable::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.bg-background{
  background-color: var(--bg-background);
  color: var(--text-box);
}
.bg-side-background{
  background-color: var(--bg-side-background);
  color: var(--text-box);
}
.bg-side-dark-background{
  background-color: var(--bg-side-dark-background);
  color: var(--text-dark-box);
}
.bg-dark-background{
  background-color: var(--bg-dark-background);
  color: var(--text-dark-box);
}

.bg-box {
  background-color: var(--bg-box);
  color: var(--text-box);
}
.bg-dark-box {
  background-color: var(--bg-dark-box);
  color: var(--text-dark-box);
}
.text-box {
  color: var(--text-box);
}
.text-dark-box {
  color: var(--text-dark-box);
}
